{% extends 'index.twig' %}

{% block main %}
    <div class="wrapper">
        <h1 class="headline">{{ 'resources.title'|trans }}</h1>
        <h4 class="subtitle">{{ 'resources.subtitle'|trans }}</h4>

        <section class="post-list">
            {% for post in posts %}
                <div class="post">

                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}