.wrapper {
  max-width: 1200px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 150px;
}

h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.category {

}