.headline {
  font-size: 3rem;
  color: var(--text-primary-high);
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--component-background-selected);
}

section {
  margin-top: 200px;

  .section-title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;

    .sep-line {
      display: inline-block;
      width: 0;

      &.extended {
        width: 100px;
      }
    }
  }
}

#experiences {
  .section-content {
    max-width: 700px;
    margin: auto;
    display: flex;
    gap: 50px;
  }

  .tab {
    h4 {
      font-size: 1.3rem;
      margin-bottom: 10px;
    }

    h5 {
      font-family: 'Fira Code', monospace;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .company-name {
      color: var(--accent-text-low);
    }
  }
}

.project {
  position: relative;
  min-height: 450px;

  &:not(:last-child) {
    margin-bottom: 200px;
  }

  &:nth-child(even) {
    .project-card {
      position: absolute;
      top: 0;
      left: 0;
    }

    .project-cover {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &:nth-child(odd) {
    .project-card {
      position: absolute;
      top: 0;
      right: 0;
    }

    .project-cover {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.project-card {

  padding: 20px;
  border-radius: 20px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  background-color: var(--main-background-2);
  width: 450px;

  .project-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .project-description {
    margin-bottom: 20px;
  }

  .project-techno {
    font-family: "Fira Code", monospace;
    color: var(--accent-text-low);
  }
}

.project-cover {
  img {
    max-width: 700px;
  }
}

.achievements {
  display: flex;
  gap: 30px;
}

.achievement {
  width: 275px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-interactive);
  background-color: var(--main-background-2);

  h4 {
    margin-bottom: 20px;
  }
}

.tab-selector {
  width: 150px;
  display: flex;
  flex-direction: column;

  .tab-select {
    font-family: Inconsolata, sans-serif;
    background-color: transparent;
    border-left: 1px solid var(--border-gray-interactive);
    color: var(--text-gray-low);
    padding: 20px 10px;

    &:hover {
      background-color: var(--accent-main-background-2);
      color: var(--accent-text-low);
    }

    &.current {
      color: var(--accent-text-low);
      background-color: var(--accent-component-background);
      border-left: 1px solid var(--accent-border-interactive);
    }
  }
}

.tabs {
  .tab {
    display: none;

    &.current {
      display: block;
    }
  }
}

.tool {
  img {
    max-width: 100px;
    max-height: 100px;
  }
}