.content-wrapper {
  max-width: 1000px;
  margin: 250px auto;
}

.headline {
  font-size: 3rem;
  font-weight: 500;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--component-background-selected);
}