.content-wrapper {
  max-width: 1000px;
  margin: 250px auto;
}

.headline {
  font-size: 3rem;
  font-weight: 500;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--component-background-selected);
}

section {
  margin-top: 200px;

  .section-title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;

    .sep-line {
      display: inline-block;
      width: 0;

      &.extended {
        width: 100px;
      }
    }
  }
}

.tab-selector {
  width: 150px;
  display: flex;
  flex-direction: column;

  .tab-select {
    width: 100%;
    font-family: Inconsolata, sans-serif;
    background-color: transparent;
    border-left: 1px solid var(--border-gray-interactive);
    color: var(--text-gray-low);
    padding: 20px 10px;

    &:hover {
      background-color: var(--main-background-2);
      color: var(--text-primary-low);
    }

    &[aria-selected="true"] {
      color: var(--text-primary-low);
      background-color: var(--component-background);
      border-left: 1px solid var(--border-interactive);
    }
  }
}