@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Qwigley&family=Inconsolata&family=Fira+Code&display=swap');

// Primary
@import '@radix-ui/colors/violet.css';
@import "@radix-ui/colors/violet-dark.css";

// Accent
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/grass-dark.css";

// Natural pairing to accent
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/olive-dark.css";

// Semantic
@import "@radix-ui/colors/indigo.css";
// Info
@import "@radix-ui/colors/jade.css";
// Success
@import "@radix-ui/colors/amber.css";
// Warning
@import "@radix-ui/colors/red.css"; // Error

:root, .dark {
  --main-background: var(--violet-1);
  --main-background-2: var(--violet-2);

  --component-background: var(--violet-3);
  --component-background-hover: var(--violet-4);
  --component-background-selected: var(--violet-5);

  --border-not-interactive: var(--violet-6);
  --border-interactive: var(--violet-7);
  --border-strong: var(--violet-8);

  --border-gray-not-interactive: var(--olive-6);
  --border-gray-interactive: var(--olive-7);
  --border-gray-strong: var(--olive-8);

  --solid-background: var(--violet-9);
  --solid-background-hover: var(--violet-10);

  --text-primary-low: var(--violet-11);
  --text-primary-high: var(--violet-12);

  --text-gray-low: var(--olive-11);
  --text-gray-high: var(--olive-12);

  --accent-main-background: var(--grass-1);
  --accent-main-background-2: var(--grass-2);

  --accent-component-background: var(--grass-3);
  --accent-component-background-hover: var(--grass-4);
  --accent-component-background-selected: var(--grass-5);

  --accent-border-not-interactive: var(--grass-6);
  --accent-border-interactive: var(--grass-7);
  --accent-border-strong: var(--grass-8);

  --accent-solid-background: var(--grass-9);
  --accent-solid-background-hover: var(--grass-10);

  --accent-text-low: var(--grass-11);
  --accent-text-high: var(--grass-12);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: var(--accent-text-high);
}

h1, h2, h3, h4, h5, h6, p, label, button, li {
  color: var(--text-gray-high);
  font-family: 'Montserrat', sans-serif;
}

.monospace {
  font-family: Inconsolata, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  width: fit-content;
}

button {
  all: unset;
  cursor: pointer;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;

  &.symbol-filled {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  }
}

.sep-line {
  height: 1px;
  background-color: var(--solid-background);
}

body {
  background-color: var(--main-background);
}

header {
  min-height: 100px;
  padding: 30px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: flex-end;

  nav {
    ul {
      list-style: none;
      li {
        color: var(--accent-text-high);
      }
    }
  }
}

.content-wrapper {
  max-width: 1000px;
  margin: 150px auto;
}