{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    <header>
        {% block header %}

        {% endblock %}
    </header>

    <main>
        {% block main %}

        {% endblock %}
    </main>

    <footer>
        {% block footer %}

        {% endblock %}
    </footer>

{% endblock %}